/*  your css code here. If applicable */

img{
	width : 250px;
	height : 150px;
	
}
h1{
	text-align:center
}
p{
	text-align: center
}
button{
	background:tomato;
	color: white;
	border: None;
	padding: 15px 20px;
	border-radius: 10px;
}